.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    text-align: center;
    padding: 1rem;
    padding-top: 4rem;
}

.header {
    display: flex;
    margin-bottom: 2rem;
    margin-top: 1rem;
}

.products {
    display: flex;
    flex-direction: column;
    max-height: 65vh;
    overflow: auto;
}
 
.item {
    display: flex;
    min-width: 50vw;
    align-items: center;
    justify-content: space-between;
    transition: all ease-in .2s;
    flex-wrap: wrap;
}

.left {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: .5rem;
}

.item:hover {
    background-color: var(--ten-percent-color);
    color: var(--background-color-main);
}

.img {
    display: flex;
    height: 10vmin;
    width: 15vmin;
    min-width: 7rem;
    min-height: 5rem;
    margin: .5rem;
}

.description{
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: left;
    padding-left: .5rem;
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: end;
    align-self: center;
    justify-content: center;
}

.buttonsBottom {
    display: flex;
    position: sticky;
}