.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 7rem;
    padding-bottom: 3rem;
    overflow: hidden;
}

.column {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    align-items: start;
    justify-content: center;
}

.header {
    display: flex;
    align-self: center;
}

.products {
    display: flex;
    flex-direction: column;
    max-height: 70vh;
    overflow: auto;
    overflow-x: hidden;
}

h2 {
    align-self: center;
    text-align: center;
}

.categories {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    max-height: 70vh;
    overflow: auto;
    overflow-x: hidden;
}

.item {
    display: flex;
    min-width: 65vw;
    align-items: center;
    justify-content: space-between;
    transition: all ease-in .2s;
    flex-wrap: wrap;
}

.left {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: .5rem;
}

.item:hover {
    background-color: var(--ten-percent-color);
    color: var(--background-color-main);
}
.imgHolder {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img {
    display: flex;
    height: 10vmin;
    width: 15vmin;
    min-width: 7rem;
    min-height: 5rem;
    margin: .5rem;
}

.description{
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: left;
    padding-left: .5rem;
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: end;
    align-self: center;
    justify-content: center;
}

.buttonsBottom {
    display: flex;
    align-self: center;
}


.name {
    text-transform: uppercase;
}

@media screen and (max-width: 600px) {
    .header {
        font-size: calc(var(--main-font) + 15px);
    }
    .row {
        flex-direction: column;
        align-items: center;
        justify-content: left;
    }
    .item {
        flex-direction: column;
    }

    .left {
        justify-content: space-between;
    }

    .products {
        align-items: center;
    }
    .buttons {
        flex-direction: row;
    }
}