.container {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 40vw;
    height: 100%;
    top: 0;
    right: 0;
    box-shadow: var(--shadow);
    background-color: var(--background-color-main);
    padding: .5rem;
}

.close {
    position: relative;
    top: 92%;
}