.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    text-align: center;
    z-index: -1;
    padding: 1rem;
    padding-top: 4rem;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1rem;
}

.group {
    display: flex;
    flex-direction: column;
    margin-bottom: .5rem;
    text-align: left;
    width: clamp(200px, 25rem, 80vw); 
}

.group textarea {
    display: flex;
    min-height: 10vh;
    resize: vertical;
}

.icon {
    height: 3rem;
    margin: .5rem;
    filter: invert(30%);
    transition: all ease .2s;
}

.icon:hover {
    transform: scale(1.5);
}