.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    text-align: center;
    padding-top: 7rem;
}

.header {
    display: flex;
    align-self: center;
    text-align: center;
    text-transform: capitalize;
}

.products {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}