.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    padding-top: 4rem;
}

.header {
    display: flex;
    align-self: center;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.products {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}