.nav {
  display: flex;
  position: fixed;
  flex-wrap: wrap;
  min-height: 3rem;
  width: 100%;
  background-color: var(--background-color-main);
  text-align: left;
  align-items: center;
  justify-content: space-around;
  padding-left: .5rem;
  padding-right: .5rem;
  box-shadow: var(--shadow);
  z-index: 999;
}

.nav ul {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
  justify-content: left;
}

.nav ul li {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-right: 1.5rem;
}

.cart {
  display: flex;
  align-items: center;
  margin-left: 2rem;
}

.cartNum {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: .2rem;
}

.cartImg {
  align-self: center;
  display: flex;
  width: 2rem;
  filter: invert(80%);
}

.bar {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  z-index: 1;
}

.search {
  display: flex;
  flex: 1;
  align-self: center;
  align-items: center;
  border-radius: 5rem;
  margin-right: 1rem;
  min-width: 5rem;
  max-width: 50vw;
  height: 1.7rem;
}

.userContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.userInfo {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.userImg {
  margin-right: .5rem;
  margin-left: .5rem;
  width: 1.5rem;
  height: 1.5rem;
}

