.container {
    display: flex;
    flex-direction: column;
    transition: all ease-in .2s;
    border: 1px solid var(--background-color-main);
}

.container:hover {
    box-shadow: var(--shadow);
}

.imgHolder {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.description {
    display: flex;
    flex-direction: column;
    padding: .5rem;
    background-color: var(--background-color-main);
}

.header {
    text-transform: capitalize;
}

.img {
    display: flex;
    height: 30vmin;
    width: 45vmin;
    pointer-events: none;
    background-image: url('/assets/img/category/default-category.svg');
    background-position: center;
    background-repeat: no-repeat;
}