:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --main-font: clamp(16px, calc(16px + (28 - 16) * ((100vw - 360px) / 1560)), 28px);
  --font-color: rgba(219, 214, 214, 0.87);
  --ten-percent-color: #dfd65d;
  --background-color-main: #534e4ecc;
  --background-color-block: rgba(153, 134, 134, 0.801);
  --shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  --gradient: linear-gradient(90deg, rgba(36, 36, 44, 0.651) 0%, rgba(237, 237, 240, 0.329) 35%, rgba(36, 37, 37, 0.397) 100%);
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

a {
  font-weight: 500;
  color: var(--font-color);
  text-decoration: inherit;
}
a:hover {
  color: var(--ten-percent-color);
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 300px;
  background-color: var(--background-color-block);
  color: var(--font-color);
  font-size: var(--main-font);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.4em .8em;
  min-width: 7rem;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--background-color-main);
  cursor: pointer;
  color: var(--font-color);
  transition: all ease-in 0.1s;
  margin: .5rem;
}
button:hover {
  border-color: var(--ten-percent-color);
  background-color: var(--ten-percent-color);
  color: var(--background-color-main);
  border: 1px solid;
}

input, textarea {
  display: flex;
  align-items: center;
  background-color: var(--background-color-main);
  border: 1px solid var(--background-color-main);
  color: var(--font-color);
  height: 1.5rem;
  padding-left: .2rem;
}

input::placeholder, textarea::placeholder {
  text-align: left;
  color: var(--font-color);
  padding-left: .1rem;
}

input:focus, textarea:focus {
  border: 1px solid var(--ten-percent-color);
  outline: none;
}

/* input[required]:invalid, textarea[required]:invalid  {
  border: 1px solid rgb(184, 94, 94);
} */

input[required]:valid, textarea[required]:valid {
  border: 1px solid rgb(97, 184, 94);
}

.footer {
  position: sticky;
  top: 95%;
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
  font-size: calc(var(--main-font) - 7px);
  text-align: center;
  padding: .5rem;
  z-index: 0;
}

.footer p {
  display: flex;
  align-items: center;
}

.footer a {
  color: var(--font-color);
  margin: .2rem;
}

.github-logo {
  height: 1rem;
  filter: invert();
  transition: all .3s;
}
.github-logo:hover {
  transform: rotate(360deg);
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}